/* pink:#ff5c77 blue:rgb(0,57,255) yellow:#ffb729 red:#d50000 */

html, body {scroll-behavior: smooth; cursor: url(cursor.png) 0 0 ,auto; }

*{width: 100%; margin:0 auto;  position: relative;}

a{text-decoration: none;}

header{
  position: fixed;
  width:100%; 
  height: 130px;
  top:0%;
  left:0%;
  margin:auto; 
  background-image: 
  linear-gradient(to bottom, white, white, white, white,white,white,white,white,white, 
  rgba(255,0,0,0));
}

footer{
    position: relative;
    width:100%;
    height: 40vh;
    float:left;
    background: white;
}

#footerwindow{
  position: absolute;
  margin:auto;
  top:22%;
  left: 0.4%;
  width:99%;
  height:30vh;
  background: white;
  border-style: solid;
  border-radius: 12px;
  border-width: thin;
  border-color: black;
  overflow: hidden;
}


#footerfilename{
  position: absolute;
  right: -47.5%;
  top:10px;
  font-size: 100%;
}

#footerline{
  position: absolute;
  width:100%;
  top:2%;
}

#footerx{
  position: absolute;
  width:2%;
  top:9px;
  left:1.5%;
}
#footermini{
  position: absolute;
  width:2.5%;
  top:4px;
  left:5%;
}

#footerbig{
  width:2.4%;
  top:5px;
  left:5.1%;
  visibility: hidden;
  position: absolute;
}


.footernumbers{
  position:absolute;
  width: 3.3%;
  top:20%;
  height:17%;
  background: rgb(0,57,255);
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  color: white;
  text-decoration: none;
   transition: all 0.3s;
}

.footernumbers:hover{
  border-radius: 0%;
}

#footernumber0{
  right: 25%;
}
#footernumber1{
  right: 21%;
}
#footernumber2{
  right: 17%;
}
#footernumber3{
  right: 13%;
}
#footernumber4{
  right: 9%;
}
#footernumber5{
  right: 5%;
}
#footernumber6{
  right: 1%;
}

#footertext{
  position: absolute;
  top:30%;
  left:2%;
  font-size: 1em;
  text-align: left;
  line-height: 1.6em;
}

#footertext1{
  position: absolute;
  top:70%;
  left:2%;
  font-size: 0.9em;
  text-align: left;
  line-height: 1.6em;
}

#footertext2{
  position: absolute;
  bottom:4%;
  left:2%;
  font-size: 1.3em;
  text-align: left;
  line-height: 1.6em;
}

#wrapp{
  width:100%; 
  height: 100vh; 
  position: relative;  
  margin: 0 auto;
}

  .kor400{font-family:'Noto Sans KR'; font-weight:400; font-style:sans-serif;}
  .kor500{font-family:'Noto Sans KR'; font-weight:500; font-style:sans-serif;}
  .kor700{font-family:'Noto Sans KR'; font-weight:700; font-style:sans-serif;}
  .eng400{font-family:'Libre Baskerville';font-weight:400; font-style:serif;}
  .eng700{font-family:'Libre Baskerville';font-weight:700; font-style:serif;}
  .cursorclick{cursor: url(cursorclick.png) 0 0 ,auto;}
  .cursor{cursor: url(cursor.png) 0 0 ,auto;}

  @import "compass/css3";

 .upkey {
   position: fixed;
   z-index: 9999;
   top: 93%;
   left: 95%;
   margin-top: -30px;
   margin-left: -60px;
   display: inline-block;
   font-size: 2em;
   color: white;
   text-align: center;
   width: 100px;
   height: 60px;
   line-height: 1.5em;
   background:rgb(0,57,255);
   overflow: hidden;
   text-transform: upkeypercase;
   transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 0.25s ease-in-out, color 0.25s ease-in-out;
}
 .upkey:hover, .upkey.auto {
   width: 60px;
   margin-left: -30px;
   border-radius: 50%;
   color: rgba(179, 195, 58, 0);
   transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 1s 0.25 ease-in-out, color 0.25s ease-in-out 0.25s;
}
 .upkey:hover:before, .upkey.auto:before {
   animation: lineupkey 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
 .upkey:hover:after, .upkey.auto:after {
   animation: tipupkey 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
 .upkey:before {
   position: absolute;
   display: inline-block;
   content: "";
   background: white;
   width: 5px;
   height: 40px;
   top: 50%;
   left: 50%;
   margin-top: -8px;
   margin-left: -3px;
   transform: translateY(50px);
}
 .upkey:after {
   position: absolute;
   display: inline-block;
   content: "";
   width: 20px;
   height: 20px;
   color: white;
   border-top: 5px solid;
   border-left: 5px solid;
   transform: rotateZ(45deg);
   top: 50%;
   left: 50%;
   margin-top: -6px;
   margin-left: -13px;
   transform: translateY(50px) rotateZ(45deg);
}
 @keyframes tipupkey {
   0% {
     transform: translateY(50px) rotateZ(45deg);
  }
   100% {
     transform: translateY(-70px) rotateZ(45deg);
  }
}
 @keyframes lineupkey {
   0% {
     transform: translateY(50px);
  }
   100% {
     transform: translateY(-70px);
  }
}

/*--------------------------------container1---------------------------------*/
  #container1{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

  #color2{
    position: absolute;
    top:30.5%;
    left:7%;
    width: 2.7%;
    height: 10%;
    background:#ffb729;
    border:solid thin black;
  }

  #color2img{
    position: absolute;
    width: 100%;
    bottom: 0%;
  }

  #color3{
    position: absolute;
    top:36.5%;
    left:26.5%;
    width:2.7%;
    height:10%;
    background:#ffb729;
    border:solid thin black;
  }

  #color3img{
    position: absolute;
    width: 100%;
    bottom: 0%;
  }

  #title1{
    position: absolute;
    top:16%;
    left:7%;
    width: 20%;
    height: 20%;
    background: white;
    border:solid thin black;
  }

  #title1 img{
    position: absolute;
    width: 100%;
    top: 9%;
  }

  #title2{
    position: absolute;
    top:22%;
    left:26.5%;
    width: 50%;
    height: 20%;
    background: white;
    border:solid thin black;
  }

  #title2 img{
    position: absolute;
    width: 98%;
    top:9%;
  }

  #rollercoaster{
    position: absolute;
    top:40%;
    right: 10%;
    width:35%;
    height:53%;
    background: white;
    border:solid thin black;
  }

  #rollercoaster img{
    position: absolute;
    width: 100%;
    top: 10%;
  }

  #textbox{
    position: absolute;
    width: 50%;
    height: 35%;
    left:3%;
    bottom:10%;
    border:solid thin black;
  }

  #x1{
    width: 100%;
    height: 23%;
    background:white;
    border:dashed thin black;
  }

  #x1 img{
    width: 85%;
    left: 5%;
    top:5%;
  }

  #color{
    position: absolute;
    width: 10%;
    height:100%;
    left: 0%;
    background:#ffb729;
  }

  #introtitle{
    position: absolute;
    transform: rotate(-90deg);
    width:300%;
    top:200%;
    left:-100%;
  }

  #intro{
    position: absolute;
    width:85%;
    text-align: left;
    left:12%;
    top:3%;
    font-size: 1.4em;
    line-height: 1.6em;
  }

  #circleback{
    position: absolute;
    width: 15%;
    height:34%;
    background:white;
    border:dashed thin black;
    border-radius: 100%;
    right: 3%;
    bottom: 1%;
    animation: circleani2 5s infinite linear;
  }

  @keyframes circleani2{
    0%{right: 3%;}
    50%{right:67%; border-radius: 0%;}
    100%{right: 3%;}
  }

  #circle{
    position: absolute;
    width: 15%;
    height:34%;
    background: #d50000;
    border-radius: 100%;
    right: 1%;
    bottom: 3%;
    animation: circleani 5s infinite linear;
  }

  @keyframes circleani{
    0%{right: 1%;}
    50%{right:70%; border-radius: 0%;}
    100%{right: 1%;}
  }

.blob2{
  position:absolute;
  background-color:#d50000;
  right:7%;
  top:35%;
  width: 27px;
  height: 27px;
  line-height: 100px;
  border-radius: 100%;
  margin:auto;
  animation: blob2-left-anim cubic-bezier(0.77, 0, 0.175, 1) 2s infinite;
}
.blob2:nth-child(2) {
          animation-name: blob2-right-anim;
}
.blob2:nth-child(3) {
          animation-name: blob2-left-anim2;
}
.blob2:nth-child(4) {
          animation-name: blob2-right-anim2;
}
.blob2:nth-child(5) {
          animation-name: blob2-left-anim3;
}
.blob2:nth-child(6) {
          animation-name: blob2-left-anim4;
}

.blob2:nth-child(7) {
          animation-name: blob2-right-anim3;
}

.blob2:nth-child(8) {
          animation-name: blob2-right-anim4;
}

.blob2:nth-child(9) {
          animation-name: blob2-left-anim5;
}
.blob2:nth-child(10) {
          animation-name: blob2-left-anim6;
}
.blob2:nth-child(11) {
          animation-name: blob2-right-anim5;
}

.blob2:nth-child(12) {
          animation-name: blob2-right-anim6;
}

.blobs2 {
  filter: url("#goo");
  position:absolute;
  top:0px;
  left:0;
  bottom: 0;
  right: 0;
}


@keyframes blob2-left-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-39px,0);
  }
}

@keyframes blob2-left-anim2 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-78px,0);
  }
}

@keyframes blob2-left-anim3 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-39px, 39px);
  }
}

@keyframes blob2-left-anim4 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-78px, 39px);
  }
}

@keyframes blob2-left-anim5 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-39px, 78px);
  }
}

@keyframes blob2-left-anim6 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-78px, 78px);
  }
}



@keyframes blob2-right-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(0, 0);
  }
}

@keyframes blob2-right-anim2 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(39px,0);
  }
}

@keyframes blob2-right-anim3 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(0, 39px);
  }
}

@keyframes blob2-right-anim4 {
  0% {
            transform:  translate(0, 0);

  }
  33% {
            transform:  translate(39px, 39px);
  }
}

@keyframes blob2-right-anim5 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(0, 78px);
  }
}

@keyframes blob2-right-anim6 {
  0% {
            transform:  translate(0, 0);

  }
  33% {
            transform:  translate(39px, 78px);
  }
}


/*--------------------------------container2---------------------------------*/
  #container2{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    overflow:hidden;
  }

  #p1{
  width: 85%;
  position: absolute;
  font-size: 1em;
  line-height: 1.5em;
  top: 22%;
  left:7%;
}

  #window1{
  position: absolute;
  margin:auto;
  top:10%;
  right:17%;
  width:23%;
  height:30%;
  background: white;
  border-style: solid;
  border-radius: 12px;
  border-width: thin;
  border-color: black;
  overflow: hidden;
  animation:windowani 0.8s infinite ease-out;
}

@keyframes windowani {
    0% {top:10%;}
    100%{top:10.5%;}
  }

#filename1{
  position: absolute;
  right: -30%;
  top:10px;
  font-size: 100%;
}

#line1{
  position: absolute;
  width:100%;
  top:2%;
}

#x2{
  position: absolute;
  width:7%;
  top:9px;
  left:3%;
}
#mini1{
  position: absolute;
  width:8%;
  top:9px;
  left:15%;
}

#big1{
  width:7.6%;
  top:9px;
  left:15%;
  visibility: hidden;
  position: absolute;
}

  #textbox2{
    position: absolute;
    width: 60%;
    height: 55%;
    top:2%;
    left:0%;
  }

  #textbox2 img{
    position: absolute;
    top:-19%;
  }

.inputtext{
  position: absolute;
  width:61%;
  height:70%;
  left:16.2%;
  top:12%;
  padding: 1.5%;
  font-size: 1.5em;
  line-height: 1.8em;
  display: inline-block;
}
  #input1{
    position: absolute;
    top:4%;
    left:48.6%;
    height:30px;
    width:16%;
    font-size: 1.1em;
  }

  #input2{
    position: absolute;
    top:4%;
    left: 70%;
    height:30px;
    width:8%;
    font-size: 1.1em;
  }

  #input3{
    position: absolute;
    top:4%;
    left:83%;
    height:30px;
    width:8%;
    font-size: 1.1em;
  }

  #input4{
    position: absolute;
    top:16%;
    left:15%;
    height:30px;
    width:18%;
    font-size: 1.1em;
  }

  #input5{
    position: absolute;
    top:16%;
    left:51%;
    height:30px;
    width:21%;
    font-size: 1.1em;
  }

  #input7{
    position: absolute;
    top:27%;
    left:30%;
    height:30px;
    width:45%;
    font-size: 1.1em;
  }

  #input8{
    position: absolute;
    top:38.5%;
    left:16%;
    height:30px;
    width:50%;
    font-size: 1.1em;
  }

  #input9{
    position: absolute;
    top:50%;
    left:19%;
    height:30px;
    width:20%;
    font-size: 1.1em;
  }

  #input10{
    position: absolute;
    top:62%;
    left:2.5%;
    height:30px;
    width:41%;
    font-size: 1.1em;
  }


  #input12{
    position: absolute;
    top:73%;
    left:10%;
    height:30px;
    width:40%;
    font-size: 1.1em;
  }

  #input13{
    position: absolute;
    top:84%;
    left:2.5%;
    height:30px;
    width:36%;
    font-size: 1.1em;
  }

  #rail{
    position: absolute;
    width:82%;
    bottom:3%;
    right:0%;
  }

/*--------------------------------randomimage---------------*/

  .container {
  position: absolute;
  top:62%;
  right: -6%;
  width: 90%;
  height:45%;
}


  .jumbotron {
  position: absolute;
  top:70%;
  right:9%;
  background-color:white;
  border:solid thin black;
  color: white;
  width: 42%;
  height:16%;
  border-radius:100%;
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
  -webkit-text-stroke:1px black;
}

  .jumbotron:hover{ background:#ff5c77;}

#random-image-container {
  position: absolute;
  width:100%;
  height:362px;
  background-size:1200px;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
}

.random-image-01 {
  background-image: url("./3/train1.png");
}

.random-image-02 {
  background-image: url("./3/train2.png");
}

.random-image-03 {
  background-image: url("./3/train3.png");
}


/*--------------------------------container3---------------------------------*/
  #container3{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    overflow:hidden;
  }

  #title3box{
  width:51%;
  height:220px;
  border: solid black thin;
  border-radius: 100%;
  position: absolute;
  top:20%;
  left:6%;
  text-align: center;
  animation: gradientani2 2s infinite linear;
}

@keyframes gradientani2 {
    0% {background-image: linear-gradient(to bottom right, white, white, #ffb729);}
    50%{background-image: linear-gradient(to bottom right, white,white, #ffb729, white,white);}
    100%{background-image: linear-gradient(to bottom right, #ffb729, white,white);}
  }

#title3{
  font-size:6em;
  top:14%;
  color: white;
 -webkit-text-stroke:2px black;
}

#x3{
  position: absolute;
  width:5.5%;
  height:18%;
  background: rgba(0,0,0,.3);
  border-radius: 50%;
  top:-2%;
  left:0%;
  text-align: center;
}

#x3 img{
  position: absolute;
  width: 65%;
  top:15%;
  left:17%;
}

#sinho{
  position: absolute;
  width: 20%;
  right:22%;
  top:55%;
  transform: rotate(90deg);
}

#window2{
  position: absolute;
  margin:auto;
  top:41%;
  left:15%;
  width:45%;
  height:39%;
  background: white;
  border-style: solid;
  border-radius: 12px;
  border-width: thin;
  border-color: black;
  overflow: hidden;
  animation:windowani2 0.8s infinite ease-out;
}

@keyframes windowani2 {
    0% {top:41%;}
    100%{top:41.5%;}
  }

#filename2{
  position: absolute;
  right: -39%;
  top:10px;
  font-size: 100%;
}

#line2{
  position: absolute;
  width:100%;
  top:2%;
}

#x4{
  position: absolute;
  width:3.5%;
  top:9px;
  left:3%;
}
#mini2{
  position: absolute;
  width:4%;
  top:9px;
  left:10%;
}

#big2{
  width:4.1%;
  top:9px;
  left:10%;
  visibility: hidden;
  position: absolute;
}

#p2{
  width:91%;
  position: absolute;
  line-height: 1.6em;
  top:17%;
  left: 3%;
  padding: 2%;
  text-align: left;
  font-size: 1em;
}

 #window3{
  position: absolute;
  margin:auto;
  top:15%;
  right:7%;
  width:33%;
  height:75%;
  background: white;
  border-style: solid;
  border-radius: 12px;
  border-width: thin;
  border-color: black;
  overflow: hidden;
  animation:windowani 0.8s infinite ease-out;
}

@keyframes windowani {
    0% {top:15%;}
    100%{top:15.5%;}
  }


#filename3{
  position: absolute;
  right: -40%;
  top:15px;
  font-size: 100%;
}

#line3{
  position: absolute;
  width:100%;
  top:2%;
}

#x6{
  position: absolute;
  width:5.5%;
  top:10px;
  left:4%;
}
#mini3{
  position: absolute;
  width:6.5%;
  top:9px;
  left:14%;
}

#big3{
  width:6.6%;
  top:9px;
  left:14%;
  visibility: hidden;
  position: absolute;
}

#p3{
  position: absolute;
  font-size: 1em;
  top:13%;
  width: 90%;
  left: 5%;
  line-height: 1.6em;
}

#p3_1{
  font-size: 1.5em;
  line-height: 1.6em;
}

  #textbox3{
    position: absolute;
    width: 30%;
    height: 35%;
    right:0%;
    top:15%;
    border:solid thin black;
    transform: rotate(90deg);
  }

  #x5{
    width: 100%;
    height: 13%;
    background:white;
    border:dashed thin black;
  }

  #x5 img{
    width: 85%;
    left: 5%;
    top:5%;
  }

  #color4{
    position: absolute;
    width: 10%;
    height:100%;
    left: 0%;
  }

  #introtitle2{
    position: absolute;
    transform: rotate(-90deg);
    width:300%;
    top:200%;
    left:-100%;
  }

  #intro2{
    position: absolute;
    width:85%;
    text-align: left;
    left:12%;
    top:3%;
    font-size: 1.4em;
    line-height: 1.6em;
  }

  #circleback2{
    position: absolute;
    width: 25%;
    height:34%;
    background:white;
    border:dashed thin black;
    border-radius: 100%;
    right: 3%;
    bottom: 1%;
    animation: circleani2 3s infinite linear;
  }

  @keyframes circleani2{
    0%{right: 3%;}
    50%{right:67%; border-radius: 0%;}
    100%{right: 3%;}
  }

  #circle2{
    position: absolute;
    width: 25%;
    height:34%;
    background: #d50000;
    border-radius: 100%;
    right: 1%;
    bottom: 3%;
    animation: circleani 3s infinite linear;
  }

  @keyframes circleani{
    0%{right: 1%;}
    50%{right:70%; border-radius: 0%;}
    100%{right: 1%;}
  }

/*---------------------------------------arrow----------------------------------------*/

#centercon{
  position: absolute;
  bottom:12%;
  left:50%;
  display: flex;
  height:10.5%;
  width:6.3%;
  transform: rotate(90deg);
  align-items: center;
  justify-content: center;
}

.round {
    position: absolute;
    background-image: linear-gradient(to right, #ff5c77, yellow);
    width:90%;
    height:90%;
    border-radius: 100%;
    
}

#cta{
    width:100%; position: absolute;
}

#cta .arrow{left: 20%;}

.arrow {
  position: absolute; 
  bottom: 0;  
  margin-left:0px; 
  width: 40px; 
  height: 40px; 
  background-size: contain; 
  top:22px;
}

.segunda{margin-left: 20px;}
.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

/*--------------------------------container4---------------------------------*/
  #container4{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    overflow:hidden;
  }

  #toolsbox{
    position: absolute;
    top:15%;
    left: 3%;
    width:35%;
    height:50vh;
  }

  #tools{
    position: absolute;
    width:90%;
    height:100%;
    border:solid black thin;
    background: white;
  }

  #toolsboxx{
  position: absolute;
  width:8.5%;
  height:9%;
  background: rgba(0,0,0,.3);
  border-radius: 50%;
  top:0%;
  right:0%;
  text-align: center;
}

  #toolsboxx img{
    position: absolute;
    width:63%;
    left: 18%;
    top:18%;
  }

  #tools img{
    position: absolute;
    width:80%;
    top:20%;
    left:13%;
  }


  #pillsbox{
    position: absolute;
    top:40%;
    left:23%;
    width:35%;
    height:50vh;
  }

  #pills{
    position: absolute;
    width:90%;
    height:100%;
    border:solid black thin;
    background: white;
  }

  #pillsboxx{
  position: absolute;
  width:8.5%;
  height:9%;
  background: rgba(0,0,0,.3);
  border-radius: 50%;
  top:0%;
  right:0%;
  text-align: center;
}

  #pillsboxx img{
    position: absolute;
    width:61%;
    left:18%;
    top:20%;
  }

  #pills img{
    position: absolute;
    width:70%;
    top:12%;
    left:13%;
  }

/*--------------------------------slider---------------------------------*/
  #slider{
    position: relative;
    max-width:100%;
    height:900px;
    float:left;
    overflow-x:hidden;
    background: white;
  }

  #sliderbox{
    position:absolute;
    left:25%;
    top:30%;
    width:50%;
    height: 50vh;
    float:left;
    text-align: center;

  }

  .slidertext{
    position: absolute;
    top:105%;
    left:calc(50% - 150px);
    font-size: 1em;
    width:300px;
    color: black;
  }

  #slidertitle{
    position:absolute;
    left:43.5%;
    top:21%;
    max-width:13%;
    height: 7vh;
    line-height: 2.5em;
    font-size: 1.5em;
    float:left;
    text-align: center;
    overflow: hidden;
    border: black thin solid;
    border-radius: 100%; 
    color: white;
    -webkit-text-stroke:1px black;
  }

  .slidecontent{
    width:50%; 
    height: 100%; 
    position: relative;
  }

  .slidecontentimg{ 
    position: absolute;
  }
  
  .slidenumber{ 
    width: 50px; 
    height: 50px; 
    top:3%; 
    border-radius: 100%; 
    line-height: 2em;  
    background-color: rgb(0,57,255);  
    color: white; 
    font-size: 1.5em;
    transition: all 0.3s;
  }

  .slidenumber:hover {
    border-radius: 0%;
  }

  #leftbtn{width:10%; position: absolute; left: 0%; top:45%;}

  #rightbtn{width:10%; position: absolute; right: 0%; top:45%;}

  #menubox{ 
    position: fixed;
    z-index:9999; 
    width: 200px; 
    height: 50px; 
    top:6%; 
    left: 3%; 
    margin:auto;
    text-align: center; 
    overflow: hidden;
  }

    #dropdowncontent{
       position: absolute;
       background-color: white;
       border-style: solid;
       border-color: black;
       border-width: thin;
       width: 170px;
       height:0px;
       top: 33px;
       right:0%;
       overflow: hidden;
       visibility: hidden;
       padding: 5px;
    }


   #up{ 
     z-index: 9999;
     width:75%; 
     text-align: center; 
     left:11%; 
     height: 50px; 
     margin: 0 auto; 
     position: fixed; 
     top:5.5%;
  }


    #dropdowncontent a {
      color: black;
      padding:11px 0px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-family: 'Libre Baskerville', serif; 
      font-size: 1.3em; 
      line-height: 1.3em;
    }

    #dropdowncontent a:hover {
      background-color: rgb(0,57,255);
      color: white;
      cursor: url(cursorclick.png) 0 0 ,auto;
    }


  #menucircle{
    position: absolute; 
    width: 100px; 
    height: 40px; 
    background-color: rgb(0,57,255); 
    border-radius: 50%; 
    transition: all 0.3s;
  }


  #menutxt{color: white; font-family: 'Libre Baskerville'; font-style:serif; font-weight: 700; font-size: 1.5em; line-height: 1.5em;}

  .blobs {
  filter: url("#goo");
  position:absolute;
  top: 0px;
  left:0;
  bottom: 0;
  right: 0;
}

  .blobs2 {
  filter: url("#goo");
  position:absolute;
  top:0px;
  left:0;
  bottom: 0;
  right: 0;
}


@keyframes blob-left-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-40px, 0);
  }
}

@keyframes blob-right-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(40px, 0);
  }
}


.blob{
  position:absolute;
  background-color: rgb(0,57,255);
  right:46.5%;
  top:10%;
  width: 40px;
  height: 40px;
  line-height: 100px;
  border-radius: 100%;
  margin:auto;
  animation: blob-left-anim cubic-bezier(0.77, 0, 0.175, 1) 3s infinite;
}

.blob:nth-child(2) {
          animation-name: blob-right-anim;
}
.blob:nth-child(3) {
          animation-name: blob-right-anim;
}
.blob:nth-child(4) {
          animation:blob-left-anim2;
}

#blobtext1{ 
  position:absolute; 
  z-index:9999; 
  font-size:1.5em; 
  text-align: center; 
  left:1.8%;
  top:24%;
  color: white;
}


#line{ 
  position:absolute; 
  top:50%; 
  left:calc(50% - 450px); 
  width:950px; 
  height: 1.3px; 
  background:black;
}

.prevbtn{ 
  z-index:9999; 
  position:fixed; 
  right:8%; 
  top:6%; 
  width:40px;
  height: 40px;  
  background-color: rgb(0,57,255); 
  border-radius: 100%; 
  text-align: center; 
  color: white; 
  font-size:2em; 
  line-height: 1.3em;
  transition: all 0.5s; 
}

.prevbtn:hover {cursor: url(cursorclick.png) 0 0 ,auto; border-radius: 0%;}

#prevbtn2{right:3%;}


/*-------------------------------------반응형-------------------------------------------*/

@media only screen and (min-width: 1920px){

header{
    height: 180px;
    }

  #container1{
    height:1080px;
  }

  #container2{
    height:1080px;
  }

  #container3{
    height:1080px;
  }

  #container4{
    height:1080px;
  }

   #slider{
    height:1080px;
  }



  #up{ 
    z-index: 9999;
    width:75%; 
    text-align: center; 
    left:14%; 
    height: 50px; 
    margin: 0 auto; 
    position: fixed; 
    top:5.5%;
  }
 

  #menucircle{
    position: absolute; 
    width:130px; 
    height:50px; 
    background-color: rgb(0,57,255); 
    border-radius: 50%; 
    transition: all 0.3s;
  }

  #menutxt {
    color: white; 
    font-family: 'Libre Baskerville'; 
    font-style:serif; 
    font-weight: 700; 
    font-size: 1.7em; 
    line-height: 1.7em;
  }

#line{ 
  top:65%; 
  left:-2%; 
  width:1400px; 
  height: 1.3px; 
}

.prevbtn{ 
  width:60px;
  height: 60px;  
  font-size:3em; 
  line-height: 1.2em;
}


.blob{
  right:50%;
  top:10%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin:auto;
  animation: blob-left-anim cubic-bezier(0.77, 0, 0.175, 1) 3s infinite;
}
.blob:nth-child(2) {
          animation-name: blob-right-anim;
}
.blob:nth-child(3) {
          animation-name: blob-right-anim;
}
.blob:nth-child(4) {
          animation:blob-left-anim2;
}

#blobtext1{ 
  position:absolute; 
  z-index:9999; 
  font-size:2em; 
  line-height: 1.5em;
  text-align: center; 
  left:-2%;
  top:24%;
  color: white;
}

@keyframes blob-left-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-60px, 0);
  }
}

@keyframes blob-left-anim2 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-60px, 0);
  }
}

@keyframes blob-right-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(60px, 0);
  }
}

#slidertitle{
    top:21%;
    left: 44%;
    max-width:12%;
    line-height: 2em;
    font-size: 2em;
  }



#footerfilename{
  font-size: 130%;
}

#footerline{
  top:6%;
}

.inputtext{
  position: absolute;
  width:61%;
  height:70%;
  left:16.2%;
  top:18%;
  padding: 1.5%;
  font-size: 2em;
  line-height: 1.5em;
  display: inline-block;
}
  #input1{
    position: absolute;
    top:4%;
    left:49%;
    height:30px;
    width:14%;
    font-size: 1.1em;
  }

  #input2{
    position: absolute;
    top:4%;
    left:70%;
    height:30px;
    width:6%;
    font-size: 1.1em;
  }

  #input3{
    position: absolute;
    top:4%;
    left:83%;
    height:30px;
    width:7%;
    font-size: 1.1em;
  }

  #input4{
    position: absolute;
    top:15.5%;
    left:16%;
    height:30px;
    width:17%;
    font-size: 1.1em;
  }

  #input5{
    position: absolute;
    top:15.5%;
    left:51%;
    height:30px;
    width:21%;
    font-size: 1.1em;
  }

  #input7{
    position: absolute;
    top:26.5%;
    left:30%;
    height:30px;
    width:45%;
    font-size: 1.1em;
  }

  #input8{
    position: absolute;
    top:37%;
    left:16%;
    height:30px;
    width:50%;
    font-size: 1.1em;
  }

  #input9{
    position: absolute;
    top:47%;
    left:19%;
    height:30px;
    width:20%;
    font-size: 1.1em;
  }

  #input10{
    position: absolute;
    top:58%;
    left:2.5%;
    height:30px;
    width:41%;
    font-size: 1.1em;
  }


  #input12{
    position: absolute;
    top:69%;
    left:10%;
    height:30px;
    width:40%;
    font-size: 1.1em;
  }

  #input13{
    position: absolute;
    top:80%;
    left:2.5%;
    height:30px;
    width:36%;
    font-size: 1.1em;
  }

 #filename1{
  font-size: 120%;
}

#line1{
  top:4%;
}


 #p1{
  font-size: 1.4em;
}

 .jumbotron {
  position: absolute;
  top:72%;
  right:9%;
  background-color:white;
  border:solid thin black;
  color: white;
  width: 40%;
  height:16%;
  border-radius:100%;
  text-align: center;
  font-size: 1.6em;
  line-height: 2em;
  -webkit-text-stroke:1px black;
}

  .container {
  position: absolute;
  top:66%;
  right: -36%;
  width: 100%;
  height:60%;
}

  #rail{
    position: absolute;
    width:72%;
    bottom:4.5%;
    right:0%;
  }

 #title3box{
  width:45%;
  height:270px;
}

#title3{
  font-size:6.5em;
  top:18%;

}

  #x1 img{
    width: 88%;
    left: 5%;
    top:3%;
  }


  #introtitle{
    font-size: 1.3em;
  }

  #intro{
    position: absolute;
    width:85%;
    text-align: left;
    left:12%;
    top:3%;
    font-size: 1.65em;
    line-height: 1.6em;
  }

   #circleback{
    width: 14%;
  }

  #circle{
    width: 14%;
  }

   #circleback2{
    width: 22%;
  }

  #circle2{
    width: 22%;
  }


  #color2{
    top:31%;
  }
  #color3{
    top:37%;
  }

  #rollercoaster img{
    position: absolute;
    width: 100%;
    top: 5%;
  }

  #window2{
  height:43%;
}

 #filename2{
  font-size: 120%;
}
#line2{
  top:3%;
}

#p2{
  font-size: 1.3em;
}

#sinho{
  position: absolute;
  width: 20%;
  right:25%;
  top:55%;
  transform: rotate(90deg);
}

/*---------------------------------------arrow----------------------------------------*/

#cta .arrow{left: 14%;}

.arrow {
  width: 72px; 
  height: 72px; 
  top:22px;
}

.segunda{margin-left: 34px;}

#centercon{
  height:12%;
  bottom: 10%;
  width:6.8%;
}


  #toolsbox{
    position: absolute;
    top:17%;
    left: 3%;
    width:32%;
    height:50vh;
  }
  #pillsbox{
    position: absolute;
    top:42%;
    left:23%;
    width:32%;
    height:50vh;
  }

  #p3{
  position: absolute;
  font-size: 1.3em;
  top:13%;
  width: 90%;
  left: 5%;
  line-height: 1.5em;
}


#filename3{
  position: absolute;
  right: -40%;
  top:15px;
  font-size: 120%;
}

 #window3{
  top:16%;
}

@keyframes windowani {
    0% {top:16%;}
    100%{top:16.5%;}
  }

  .footernumbers{
  line-height: 2em;
}
      #dropdowncontent{
       top: 44px;
       padding: 7px;
    }

    #footerwindow{
  top:20%;
  height:31vh;
}

#footertext{
  top:33%;
}

  #toolsboxx{
  position: absolute;
  width:8.2%;
  height:9%;
  background: rgba(0,0,0,.3);
  border-radius: 50%;
  top:0%;
  right:0%;
  text-align: center;
}

  #pillsboxx{
  position: absolute;
  width:8.2%;
  height:9%;
  background: rgba(0,0,0,.3);
  border-radius: 50%;
  top:0%;
  right:0%;
  text-align: center;
}


  #x5{
    width: 100%;
    height: 15%;
    background:white;
    border:dashed thin black;
  }

  .footernumbers{
  width: 3%;
  height:17%;
}


}/*--반응형닫힘--*/


