
/*----------------------------------기본세팅-------------------------------------*/

/* pink:#ff5c77 blue:rgb(0,57,255) yellow:#ffb729 red:#d50000 */

#monitor{
  width:100px; 
  width:100px; 
  height:40px; 
  background: white; 
  position: fixed; 
  color: white; 
  text-align: center; 
  line-height: 40px;
  right:0;
  top:0px;
}

html, body {scroll-behavior: smooth; cursor: url(cursor.png) 0 0 ,auto; }

*{width: 100%; margin:0 auto;  position: relative;}

a{text-decoration: none;}


header{
  position: fixed;
  width:100%; 
  height: 130px;
  top:0%;
  left:0%;
  margin:auto; 
  background-image: 
  linear-gradient(to bottom, white, white, white, white,white,white,white,white,white, 
  rgba(255,0,0,0));
}

footer{
    position: relative;
    width:100%;
    height: 40vh;
    float:left;
    overflow-x:hidden;
}

#footerwindow{
  position: absolute;
  margin:auto;
  top:22%;
  left: 0.4%;
  width:99%;
  height:30vh;
  background: white;
  border-style: solid;
  border-radius: 12px;
  border-width: thin;
  border-color: black;
  overflow: hidden;
}


#footerfilename{
  position: absolute;
  right: -47.5%;
  top:10px;
  font-size: 100%;
}

#footerline{
  position: absolute;
  width:100%;
  top:2%;
}

#footerx{
  position: absolute;
  width:2%;
  top:9px;
  left:1.5%;
}
#footermini{
  position: absolute;
  width:2.5%;
  top:4px;
  left:5%;
}

#footerbig{
  width:2.4%;
  top:5px;
  left:5.1%;
  visibility: hidden;
  position: absolute;
}


.footernumbers{
  position:absolute;
  width: 3.3%;
  top:20%;
  height:17%;
  background: rgb(0,57,255);
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  color: white;
  text-decoration: none;
   transition: all 0.3s;
}

.footernumbers:hover{
  border-radius: 0%;
}
#footernumber0{
  right: 25%;
}

#footernumber1{
  right: 21%;
}
#footernumber2{
  right: 17%;
}
#footernumber3{
  right: 13%;
}
#footernumber4{
  right: 9%;
}
#footernumber5{
  right: 5%;
}
#footernumber6{
  right: 1%;
}

#footertext{
  position: absolute;
  top:30%;
  left:2%;
  font-size: 1em;
  text-align: left;
  line-height: 1.6em;
}

#footertext1{
  position: absolute;
  top:70%;
  left:2%;
  font-size: 0.9em;
  text-align: left;
  line-height: 1.6em;
}

#footertext2{
  position: absolute;
  bottom:4%;
  left:2%;
  font-size: 1.3em;
  text-align: left;
  line-height: 1.6em;
}

#wrapp{
  width:100%; 
  height: 100vh; 
  position: relative;  
  margin: 0 auto;
}

#slider{
    position: relative;
    max-width:100%;
    height: 100vh;
    float:left;
    overflow-x:hidden;
    background: white;
  }

  #sliderbox{
    position:absolute;
    left:25%;
    top:30%;
    width:50%;
    height: 50vh;
    float:left;
    text-align: center;

  }

  .slidertext{
    position: absolute;
    top:105%;
    left:calc(50% - 150px);
    font-size: 1em;
    width:300px;
    color: black;
  }

  .slidertext2{
    position: absolute;
    top:28%;
    right:-25%;
    font-size: 1em;
    width:54%;
    color: black;
  }

  .slidertitle2{
    position:absolute;
    right:-10%;
    bottom:5%;
    width:25%;
    height:5vh;
    line-height:2.3em;
    font-size:1.1em;
    float:left;
    text-align:center;
    overflow:hidden;
    border:black thin solid;
    border-radius:100%; 
    color:white;
    -webkit-text-stroke:1px black;
    background:white;
  }
  .slidertitle2:hover{ background:#ff5c77;}

  .slidecontent{
    width:50%; 
    height: 100%; 
    position: relative;
  }

  .slidecontentimg{ 
    position: absolute;
  }
  
  .slidenumber{ 
    width: 50px; 
    height: 50px; 
    top:3%; 
    border-radius: 100%; 
    line-height: 2em;  
    background-color: rgb(0,57,255);  
    color: white; 
    font-size: 1.5em;
    transition: all 0.3s;
  }

  .slidenumber:hover {
    border-radius: 0%;
  }

  #leftbtn{width:10%; position: absolute; left: 0%; top:45%;}

  #rightbtn{width:10%; position: absolute; right: 0%; top:45%;}


  #leftbtn2{width:10%; position: absolute; left: 5%; top:40%;}

  #rightbtn2{width:10%; position: absolute; right: 0%; top:40%;}


  .kor400{font-family:'Noto Sans KR'; font-weight:400; font-style:sans-serif;}
  .kor500{font-family:'Noto Sans KR'; font-weight:500; font-style:sans-serif;}
  .kor700{font-family:'Noto Sans KR'; font-weight:700; font-style:sans-serif;}
  .eng400{font-family:'Libre Baskerville';font-weight:400; font-style:serif;}
  .eng700{font-family:'Libre Baskerville';font-weight:700; font-style:serif;}
  .cursorclick{cursor: url(cursorclick.png) 0 0 ,auto;}
  .cursor{cursor:url(cursor.png) 0 0 ,auto;}

/*----------------------------------menu-------------------------------------*/

  #menubox{ 
    position: fixed;
    z-index:9999; 
    width: 200px; 
    height: 50px; 
    top:6%; 
    left: 3%; 
    margin:auto;
    text-align: center; 
    overflow: hidden;
  }

    #dropdowncontent{
       position: absolute;
       background-color: white;
       border-style: solid;
       border-color: black;
       border-width: thin;
       width: 170px;
       height:0px;
       top: 33px;
       right:0%;
       overflow: hidden;
       visibility: hidden;
       padding: 5px;
    }

   #up{ 
     z-index: 9999;
     width:75%; 
     text-align: center; 
     left:11%; 
     height: 50px; 
     margin: 0 auto; 
     position: fixed; 
     top:5.5%;
  }


    #dropdowncontent a {
      color: black;
      padding:11px 0px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-family: 'Libre Baskerville', serif; 
      font-size: 1.3em; 
      line-height: 1.3em;
    }

    #dropdowncontent a:hover {
      background-color: rgb(0,57,255);
      color: white;
      cursor: url(cursorclick.png) 0 0 ,auto;
    }


  #menucircle{
    position: absolute; 
    width: 100px; 
    height: 40px; 
    background-color: rgb(0,57,255); 
    border-radius: 50%; 
    transition: all 0.3s;
  }


  #menutxt{color: white; font-family: 'Libre Baskerville'; font-style:serif; font-weight: 700; font-size: 1.5em; line-height: 1.5em;}

  .blobs {
  filter: url("#goo");
  position:absolute;
  top: 0px;
  left:0;
  bottom: 0;
  right: 0;
}

@keyframes blob-left-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-40px, 0);
  }
}

@keyframes blob-right-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(40px, 0);
  }
}


.blob{
  position:absolute;
  background-color: rgb(0,57,255);
  right:46.5%;
  top:10%;
  width: 40px;
  height: 40px;
  line-height: 100px;
  border-radius: 100%;
  margin:auto;
  animation: blob-left-anim cubic-bezier(0.77, 0, 0.175, 1) 3s infinite;
}

.blob:nth-child(2) {
          animation-name: blob-right-anim;
}
.blob:nth-child(3) {
          animation-name: blob-right-anim;
}
.blob:nth-child(4) {
          animation:blob-left-anim2;
}

#blobtext1{ 
  position:absolute; 
  z-index:9999; 
  font-size:1.5em; 
  text-align: center; 
  left:1.8%;
  top:24%;
  color: white;
}

#line{ 
  position:absolute; 
  top:50%; 
  left:calc(50% - 450px); 
  width:950px; 
  height: 1.3px; 
  background:black;
}

.prevbtn{ 
  z-index:9999; 
  position:fixed; 
  right:8%; 
  top:6%; 
  width:40px;
  height: 40px;  
  background-color: rgb(0,57,255); 
  border-radius: 100%; 
  text-align: center; 
  color: white; 
  font-size:2em; 
  line-height: 1.3em;
  transition: all 0.5s; 
}

.prevbtn:hover {cursor: url(cursorclick.png) 0 0 ,auto; border-radius: 0%;}

#prevbtn2{right:3%;}




/*----------------------------------upkey-------------------------------------*/

  @import "compass/css3";

 .upkey {
   position: fixed;
   z-index: 9999;
   top: 93%;
   left: 95%;
   margin-top: -30px;
   margin-left: -60px;
   display: inline-block;
   font-size: 2em;
   color: white;
   text-align: center;
   width: 100px;
   height: 60px;
   line-height: 1.5em;
   background:rgb(0,57,255);
   overflow: hidden;
   text-transform: upkeypercase;
   transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 0.25s ease-in-out, color 0.25s ease-in-out;
}
 .upkey:hover, .upkey.auto {
   width: 60px;
   margin-left: -30px;
   border-radius: 50%;
   color: rgba(179, 195, 58, 0);
   transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 1s 0.25 ease-in-out, color 0.25s ease-in-out 0.25s;
}
 .upkey:hover:before, .upkey.auto:before {
   animation: lineupkey 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
 .upkey:hover:after, .upkey.auto:after {
   animation: tipupkey 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
 .upkey:before {
   position: absolute;
   display: inline-block;
   content: "";
   background: white;
   width: 5px;
   height: 40px;
   top: 50%;
   left: 50%;
   margin-top: -8px;
   margin-left: -3px;
   transform: translateY(50px);
}
 .upkey:after {
   position: absolute;
   display: inline-block;
   content: "";
   width: 20px;
   height: 20px;
   color: white;
   border-top: 5px solid;
   border-left: 5px solid;
   transform: rotateZ(45deg);
   top: 50%;
   left: 50%;
   margin-top: -6px;
   margin-left: -13px;
   transform: translateY(50px) rotateZ(45deg);
}
 @keyframes tipupkey {
   0% {
     transform: translateY(50px) rotateZ(45deg);
  }
   100% {
     transform: translateY(-70px) rotateZ(45deg);
  }
}
 @keyframes lineupkey {
   0% {
     transform: translateY(50px);
  }
   100% {
     transform: translateY(-70px);
  }
}

/*----------------------------------container1-------------------------------------*/

  #container1{
    position: relative;
    width:100%;
    height:100vh;
    float: left;
    overflow: hidden;
  }

  #title1{
    position: absolute;
    width:65%;
    left:15%;
    top:3%;
    animation: titleani 2s infinite linear;
  }
@keyframes titleani{
  0%{transform: rotate(-4deg);}
  50%{transform: rotate(-3deg);}
  100%{transform: rotate(-4deg);}
}


  #introbox{
    position: relative;
    width:63%; 
    height: 20%;
    top:40%;
    left:-20%;
    animation: introani 2s infinite linear;
    }

@keyframes introani{
  0%{transform: rotate(3deg);}
  50%{transform: rotate(2deg);}
  100%{transform: rotate(3deg);}
  }

  #introbox img {
    position:absolute;
    top:-94%;
    width: 100%;
  }
  #introbox p { 
    font-size: 1.3em;
    width:66%;
    position: absolute; 
    top:25%; 
    left:16%;
  }

  #introment{
    position: absolute; 
    width: 10%; 
    height: 16%; 
    border: dashed black thin; 
    border-radius: 100%; 
    text-align: center; 
    line-height: 1.2em; 
    font-size: 1em; 
    padding: 1%;
    bottom:12%; 
    left:5%;
    background: #ffb729;
    transition: all 1s linear;
  }

  #introment:hover{transform: rotate(360deg);}
  #introment:hover #intromentshadow{transform: rotate(360deg);}

  #intromentshadow{
    position: absolute; 
    width: 10%; 
    height: 16%; 
    border: dashed black thin; 
    border-radius: 100%; 
    text-align: center; 
    line-height: 1.2em; 
    font-size: 1em; 
    padding: 1%;
    bottom:10%; 
    left:3%;
    animation: gradientani 1s infinite linear;
  }
@keyframes gradientani {
    0% {background-image: linear-gradient(to bottom right, white, white, #ff5c77);}
    50%{background-image: linear-gradient(to bottom right, white,white, #ff5c77, white,white);}
    100%{background-image: linear-gradient(to bottom right, #ff5c77, white,white);}
  }


  #swing{
    position: absolute;
    width:25%;
    height: 34%;
    right:1%;
    top:32%;
    transform: rotate(-10deg);
    animation: swingani 3s infinite linear;
    }

@keyframes swingani{
  0%{transform: rotate(-9deg);}
  50%{transform: rotate(-10deg);}
  100%{transform: rotate(-9deg);}
  }

  #swingg{
    position: absolute;
    width: 57%;
    top:3%;
    left:20%;
  }

  #swingsticker{
    position: absolute;
    width: 100%;
    top:0%;
  }

#window1{
  position: absolute;
  margin:auto;
  top:61%;
  left:20%;
  width:60%;
  height:33%;
  background: white;
  border-style: solid;
  border-radius: 12px;
  border-width: thin;
  border-color: black;
  overflow: hidden;
  animation:windowani 0.8s infinite ease-out;
}
@keyframes windowani {
    0% {top:61%;}
    100%{top:61.5%;}
  }

#line1{
  position: absolute;
  width:100%;
  top:4%;
}

#x1{
  position: absolute;
  width:3%;
  top:9px;
  left:3%;
}
#mini1{
  position: absolute;
  width:3.3%;
  top:9px;
  left:8%;
}
#big1{
  width:3%;
  top:9px;
  left:8.3%;
  visibility: hidden;
  position: absolute;
}

.filename1{
  position: absolute;
  text-align: center;
  top:10px;
  font-size: 100%;
  color: black;
  text-decoration: none;
}


  #slidertitle{
    position:absolute;
    left:43.5%;
    top:21%;
    max-width:13%;
    height: 7vh;
    line-height: 2.5em;
    font-size: 1.5em;
    float:left;
    text-align: center;
    overflow: hidden;
    border: black thin solid;
    border-radius: 100%; 
    color: white;
    -webkit-text-stroke:1px black;
  }


#x2{
  position: absolute;
  width:3.7%;
  height:18.5%;
  background: rgba(0,0,0,.3);
  border-radius: 100%;
  top:-15%;
  left: 12%;
}

#x2 img{
  position: absolute;
  top:15%;
  left:14%;
  width:69%;
}

/*----------------------------------container2-------------------------------------*/


  #container2{
    position: relative;
    width:100%;
    height: 0vh;
    float: left;
    overflow:hidden;
  }

  #thumbnail{
    position: absolute;
    width:64%;
    left:2%;
    top:26%;
  }

  #text1{
    position: absolute;
    right:7%;
    top:29%;
    font-size:5em;
    color:black;
    width:30%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    background: white;
  }

  #p1{
    position: absolute;
    width:30%;
    right:1%;
    bottom:13%;
    font-size: 1.2em;
    background: white;
    padding: 1%;
  }

#playbtn1{
  position: absolute;
  width:25%;
  top:40%;
  left: 22%;
}

  /*--------------------------------container3-------------------------------------*/

  #container3{
    position: relative;
    width:100%;
    height: 0vh;
    float: left;
    overflow: hidden;
  }

  #dashedbox{
  position: absolute;
  top:20%;
  left: 15%;
  width:45%;
  height: 60%;
  border:dashed thin;
}

#p2{
  position: absolute;
  width:30%;
  right:5%;
  top:65%;
  font-size: 1.1em;
  }

#ex1{
  position: absolute;
  width:28%;
  left: 10%;
  top:97%;
  font-size: 0.5em;
}

#pic1{
  position: absolute;
  top:34%;
  width:47%;
  transform: rotate(-90deg);
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#pic2{
  position: absolute;
  width:40%;
  transition: all 0.4s ease-in-out;
  animation: redpicani2 4s infinite linear;
}

@keyframes redpicani2{
  0%{top:15%;}
  20%{top:21%;}
  40%{top:27%;}
  60%{top:21%;}
  100%{top:15%;}
}

#pic12{
  position:absolute;
  width:20%;
  top:16%;
  transition: all 0.8s cubic-bezier(.15,.63,.15,1.03);
}

  /*--------------------------------container4-------------------------------------*/

#container4{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}

#pic3{
  position: absolute;
  top:7%;
  width:75%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
}

#pic3shadow{
  position: absolute;
  top:14%;
  right:2%;
  width:75%;
  height:75%;
  animation: pic3ani 1s infinite linear;
  border:dashed thin black;
  transition: all 0.6s cubic-bezier(.15,.63,.15,1.03);
  }
@keyframes pic3ani {
    0% {background-image: linear-gradient(to bottom right, white, white, #ffb729);}
    50%{background-image: linear-gradient(to bottom right, white,white, #ffb729, white,white);}
    100%{background-image: linear-gradient(to bottom right, #ffb729, white,white);}
  }


#pic13{
  width: 32%;
  position:absolute;
  top:62%;
  left:10%;
  z-index: -1;
  animation: redpicani 2s infinite;
}

@keyframes redpicani{
  0%{ display: none; visibility: hidden;

  }50%{  display: block; visibility: block;

  }60%{ display: none; visibility: hidden;

  }100%{ display: block; visibility: block;

  }
}


 #ex2{
    position: absolute;
    width:28%;
    right:-5%;
    bottom:8%;
    font-size: 0.5em;
  }


   /*--------------------------------container5-------------------------------------*/

  #container5{
    position: relative;
    width:100%;
    height:0vh;
    float:left;
    overflow: hidden;
  }

  #p3{
    position: absolute;
    width:30%;
    left:5%;
    top:15%;
    font-size: 1.1em;
  }

#pic4{
  position: absolute;
  top:17%;
  width:57%;
  transform: rotate(-90deg);
  transition: all 0.6s cubic-bezier(.15,.63,.15,1.03);
}

#pic5{
  position: absolute;
  top:45%;
  width:25%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
}

#dashedbox2{
  position: absolute;
  bottom:5%;
  left:10%;
  width:20%;
  height:40%;
  border:dashed thin;
}

 /*--------------------------------container6-------------------------------------*/

 #container6{
    position:relative;
    width:100%;
    height:0vh;
    float: left;
    overflow-x:hidden;
  }

#pic6{
  position: absolute;
  top:13%;
  right:10%;
  width:72%;
  visibility: hidden;
}

#stickybox{
  position: absolute;
  top: 13%;
  width: 100%;
  height: 75%;
  visibility: hidden;
}

#pic9{
  position:absolute;
  top:21%;
  width:25%;
  transition: all 0.4s cubic-bezier(.15,.63,.15,1.03);
}

#pic11{
  position:absolute;
  top:21%;
  width:15%;
  transition: all 0.6s cubic-bezier(.15,.63,.15,1.03);
}

 #ex3{
    position: absolute;
    width:20%;
    right:8%;
    bottom:9%;
    font-size: 0.5em;
    visibility: hidden;
  }


/*--------------------------------container7-------------------------------------*/

#container7{
    position: relative;
    width:100%;
    height: 0vh;
    float: left;
    overflow: hidden;
  }

#blind{
  position: absolute;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s linear;
}

 #pic14{
  top:0%;
  position: absolute;
  width:100%;
  z-index: -9999;
 }

 /*--------------------------------container8-------------------------------------*/

#container8{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
 }

 #pic7{
  position: absolute;
  top:40%;
  left:5%;
  width:33.5%;
}
#pic8{
  position: absolute;
  top:7%;
  right:0%;
  width:78%;
}


 #p4{
    position: absolute;
    width:38%;
    left:2%;
    top:10%;
    font-size: 1.1em;
    background: white;
    padding: 1%;
  }


 #ex4{
    position: absolute;
    width:16%;
    left:4%;
    bottom:5%;
    font-size: 0.5em;
  }

 #ex5{
    position: absolute;
    width:35%;
    right:2%;
    bottom:8%;
    font-size: 0.5em;
  }

 /*--------------------------------container9-------------------------------------*/

#container9{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
 }

/*--------------------------------container10-------------------------------------*/

#container10{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;

 }

  #thumbnail2{
    position: absolute;
    width:64%;
    left:2%;
    top:24%;
  }



  #playbtn2{
  position: absolute;
  width:25%;
  top:40%;
  left: 22%;
}

  #text2{
    position: absolute;
    right:7%;
    top:29%;
    font-size:5em;
    color:black;
    width:30%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    background: white;
  }

  #movie2p1{
    position: absolute;
    width:30%;
    right:1%;
    bottom:13%;
    font-size: 1.2em;
    background: white;
    padding: 1%;
  }
  

/*--------------------------------container11-------------------------------------*/

#container11{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
 }

 #movie2pic1{
  position: absolute;
  width: 60%;
  top:10%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

  #movie2pic2{
  position: absolute;
  width: 32%;
  top:35%;
  transition: all 0.8s cubic-bezier(.15,.63,.15,1.03);
 }

  #movie2p2{
    position: absolute;
    width:38%;
    left:4%;
    bottom:18%;
    font-size: 1.1em;
    padding: 1%;
  }

  #movie2dashedbox{
  position: absolute;
  top:42%;
  right:5%;
  width:30%;
  height:48%;
  border:dashed thin;
  }

  .movie2p2_1{
    font-size: 1.3em;
  }



/*--------------------------------container12-------------------------------------*/

#container12{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
 }

  #movie2p3{
    position: absolute;
    width:35%;
    right:34%;
    top:72%;
    text-align: center;
    font-size: 1.1em;
  }

  .movie2p3_1{
    font-size: 1.3em;
  }

#movie2pic3{
  position: absolute;
  width:77%;
  top:14%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

  /*--------------------------------container13-------------------------------------*/

#container13{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
 }
#movie2pic4{
  position: absolute;
  width:65%;
  top:3%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

 #movie2pic5{
  position: absolute;
  width:25%;
  top:41%;
  transition: all 0.6s cubic-bezier(.15,.63,.15,1.03);
 }

   #movie2p4{
    position: absolute;
    width:35%;
    left:5%;
    top:62%;
    font-size: 1.1em;
  }

  .movie2p4_1{
    font-size: 1.3em;
  }

/*--------------------------------container14------------------------------------*/

#container14{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
 }

#movie2pic6{
  position: absolute;
  width:73%;
  top:5%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

   #movie2p5{
    position: absolute;
    width:35%;
    left:32%;
    top:75%;
    font-size: 1.1em;
    text-align: center;
  }

  .movie2p5_1{
    font-size: 1.3em;
  }

/*--------------------------------container15------------------------------------*/

#container15{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
 }

 #movie2pic8{
  position: absolute;
  width: 100%;
 }

 /*--------------------------------container16------------------------------------*/

#container16{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
  }

#movie2pic7{
  position: absolute;
  width:38%;
  top:11%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
}
  
  #movie2p6{
    position: absolute;
    width:35%;
    right:5%;
    top:78%;
    font-size: 1.1em;
    text-align: left;
  }

  .movie2p6_1{
    font-size: 1.3em;
  }

 #movie2ex1{
   position: absolute;
   top:1%;
   right:-83%;
   font-size: 0.5em;
  }

  #movie2ex2{
   position: absolute;
   bottom:6%;
   right:-19%;
   font-size: 0.5em;
  }

 /*--------------------------------container17------------------------------------*/

#container17{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
  }

#movie2pic9{
  position: absolute;
  width:60%;
  top:2%;
  left:1%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
}

#movie2pic10{
  position: absolute;
  width:57%;
  bottom:2%;
  right:1%;
  transition: all 0.7s cubic-bezier(.15,.63,.15,1.03);
}

   #movie2p7{
    position: absolute;
    width:35%;
    left:2%;
    bottom:31%;
    font-size: 1.1em;
    text-align: left;
  }

  .movie2p7_1{
    font-size: 1.3em;
  }

 /*--------------------------------container18------------------------------------*/

#container18{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
  }

#movie2pic11{
  position: absolute;
  width:78%;
  bottom:10%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
}

  #movie2ex3{
   position: absolute;
   bottom:6%;
   right:-22%;
   font-size: 0.5em;
  }

 /*--------------------------------container19------------------------------------*/

  #container19{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
  }


  #movie2pic12{
  position: absolute;
  width:41%;
  bottom:0%;
  transition: all 0.4s cubic-bezier(.15,.63,.15,1.03);
  }

  #movie2pic13{
  position: absolute;
  width:45%;
  bottom:30%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
  }

  #movie2ex4{
   position: absolute;
   bottom:27%;
   right:-80%;
   font-size: 0.5em;
  }

   /*--------------------------------container20------------------------------------*/

  #container20{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
  }

  #movie2p8{
    position: absolute;
    width:35%;
    left:10%;
    top:1%;
    font-size: 1.1em;
    text-align: left;
  }

  .movie2p8_1{
    font-size: 1.3em;
  }

#movie2pic14{
  position: absolute;
  width:65%;
  bottom:20%;
  left:2%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
  }

#movie2pic15{
  position: absolute;
  width:35%;
  bottom:5%;
  right:6%;
  transition: all 0.6s cubic-bezier(.15,.63,.15,1.03);
  }


  #movie2p9{
    position: absolute;
    width:35%;
    left:3%;
    bottom:7%;
    font-size: 1.1em;
    text-align: left;
  }

  .movie2p9_1{
    font-size: 1.3em;
  }

  /*--------------------------------container21------------------------------------*/

  #container21{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
  }

  /*--------------------------------container22-------------------------------------*/

#container22{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

  #thumbnail3{
    position: absolute;
    width:34%;
    left:16%;
    top:16%;
  }

  #playbtn3{
  position: absolute;
  width:25%;
  top:43%;
  left:20%;
}

  #text3{
    position: absolute;
    right:9%;
    top:29%;
    font-size:5em;
    color:black;
    width:40%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    background: white;
  }

  #movie3p1{
    position: absolute;
    width:38%;
    right:1%;
    bottom:9%;
    font-size: 1.2em;
    background: white;
    padding: 1%;
  }


  /*--------------------------------container23-------------------------------------*/

#container23{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

 #movie3pic1{
  position: absolute;
  width: 68%;
  left:17%;
  top:10%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

  #movie3p2{
    position: absolute;
    width:38%;
    left:16%;
    bottom:15%;
    font-size: 1.1em;
    padding: 1%;
  }

  .movie3p2_1{
    font-size: 1.3em;
  }


  /*--------------------------------container24-------------------------------------*/

#container24{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

 #movie3pic2{
  position: absolute;
  width:100%;
 }

  /*--------------------------------container25-------------------------------------*/

#container25{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

 #movie3pic3{
  position: absolute;
  width:50%;
  left:7%;
  top:10%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

#movie3pic3shadow{
  position: absolute;
  border: dashed thin black;
  width:50%;
  height:40%;
  left:9%;
  top:30%;
  transition: all 0.7s cubic-bezier(.15,.63,.15,1.03);
 }


  #movie3p3{
    position: absolute;
    width:35%;
    right:4%;
    top:10%;
    font-size: 1.1em;
    padding: 1%;
  }

  .movie3p3_1{
    font-size: 1.3em;
  } 

    /*--------------------------------container26-------------------------------------*/

#container26{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

 #movie3pic4{
  position: absolute;
  width:23%;
  left:3%;
  top:0%;
  transition: all 0.4s cubic-bezier(.15,.63,.15,1.03);
 }

  #movie3pic5{
  position: absolute;
  width:32%;
  left:22%;
  bottom:5%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

  #movie3pic6{
  position: absolute;
  width:18%;
  right:3%;
  top:2%;
  transition: all 0.3s cubic-bezier(.15,.63,.15,1.03);
 }

#movie3pic6shadow{
  position: absolute;
  border: dashed thin black;
  width:18%;
  height:45%;
  right:5%;
  top:10%;
  animation: movie3pic6ani 1s infinite linear;
  transition: all 0.4s cubic-bezier(.15,.63,.15,1.03);
  }
@keyframes movie3pic6ani {
    0% {background-image: linear-gradient(to bottom right, white, white, #ffb729);}
    50%{background-image: linear-gradient(to bottom right, white,white, #ffb729, white,white);}
    100%{background-image: linear-gradient(to bottom right, #ffb729, white,white);}
  }

  #movie3p4{
    position: absolute;
    width:35%;
    right:8%;
    bottom:4%;
    font-size: 1.1em;
    padding: 1%;
  }

  .movie3p4_1{
    font-size: 1.3em;
  }  

  #movie3ex1{
  position: absolute;
  width:28%;
  left: 22%;
  bottom:1%;
  font-size: 0.5em;
}


/*--------------------------------container27-------------------------------------*/

#container27{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

 /*#movie3pic7{
  position:absolute;
  width:50%;
  left:10%;
  top:15%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }*/

  #movie3p5{
    position: absolute;
    width:35%;
    right:2%;
    bottom:14%;
    font-size: 1.1em;
    padding: 1%;
  }

  .movie3p5_1{
    font-size: 1.3em;
  }  

  #movie3ex2{
  position: absolute;
  width:28%;
  left: 10%;
  bottom:12%;
  font-size: 0.5em;
}

#movie3ex3{
  position: absolute;
  width:28%;
  left: 10%;
  bottom:10.5%;
  font-size: 0.5em;
}

/*--------------------------------container28-------------------------------------*/

#container28{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

 #movie3pic8{
  position: absolute;
  width:75%;
  left:0%;
  top:0%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

#movie3pic9{
  position: absolute;
  width:50%;
  right:0%;
  bottom:4%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

#movie3ex5{
  position: absolute;
  width:28%;
  left:1%;
  bottom:38%;
  font-size: 0.5em;
}

#movie3ex6{
  position: absolute;
  width:28%;
  left:50%;
  bottom:1.8%;
  font-size: 0.5em;
}

#movie3ex7{
  position: absolute;
  width:28%;
  left:50%;
  bottom:0%;
  font-size: 0.5em;
}

/*--------------------------------container29-------------------------------------*/

#container29{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

 #movie3pic10{
  position: absolute;
  width:65%;
  left:17%;
  top:15%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

  #movie3p6{
    position: absolute;
    width:50%;
    right:24%;
    bottom:3%;
    font-size: 1.1em;
    padding: 1%;
    text-align:center;
  }

  .movie3p6_1{
    font-size: 1.3em;
  }  


/*--------------------------------container30-------------------------------------*/

#container30{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

 #movie3pic11{
  position: absolute;
  width:90%;
  left:0%;
  top:8%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

#movie3ex8{
  position: absolute;
  width:28%;
  left:1%;
  bottom:8.5%;
  font-size: 0.5em;
}

#movie3ex9{
  position: absolute;
  width:28%;
  left:1%;
  bottom:6.8%;
  font-size: 0.5em;
}

#movie3ex10{
  position: absolute;
  width:28%;
  left:1%;
  bottom:3.6%;
  font-size: 0.5em;
}


/*--------------------------------container31-------------------------------------*/

#container31{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
 }

 #movie3pic12{
  position: absolute;
  width:65%;
  left:17%;
  top:20%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

  #movie3p7{
    position: absolute;
    width:55%;
    right:21%;
    bottom:9%;
    font-size: 1.1em;
    padding: 1%;
    text-align:center;
  }

  .movie3p7_1{
    font-size: 1.3em;
  }  

  /*--------------------------------container32------------------------------------*/

  #container32{
    position: relative;
    width:100%;
    height:0px;
    float: left;
    overflow: hidden;
    
  }


/*----------------------------------container33-------------------------------------*/


  #container33{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow:hidden;
  }

  #container33back{
    position: absolute;
    width: 100%;
  }

  #thumbnail4{
    position: absolute;
    width:64%;
    left:2%;
    top:26%;
  }

  #text4{
    position: absolute;
    right:7%;
    top:29%;
    font-size:5em;
    color:black;
    width:30%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    background: white;
  }

#movie4p1{
    position: absolute;
    width:30%;
    right:1%;
    bottom:16%;
    font-size: 1.2em;
    background: white;
    padding: 1%;
}

#playbtn4{
  position: absolute;
  width:25%;
  top:41%;
  left: 22%;
}


  /*--------------------------------container34-------------------------------------*/

#container34{
    position: relative;
    width:100%;
    height:0vh;
    float: left;
    overflow: hidden;
}

#movie4pic1{
  position: absolute;
  top:20%;
  width:60%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4p2{
  position: absolute;
  width:30%;
  right:3%;
  top:20%;
  font-size: 1.1em;
  }

#movie4ex1{
  position: absolute;
  width:28%;
  left:4%;
  top:74%;
  font-size: 0.5em;
}


/*--------------------------------container35-------------------------------------*/

#container35{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}

#movie4pic2{
  position: absolute;
  top:5%;
  width:50%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4pic2shadow{
  position: absolute;
  background: white;
  border: dashed thin black;
  top:10%;
  width:50%;
  height:50%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4gita1{
  position: absolute;
  top:25%;
  left:3%;
  width:40%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4ex2{
  position: absolute;
  width:15%;
  right:0%;
  top:61%;
  font-size: 0.5em;
}

/*--------------------------------container36-------------------------------------*/

#container36{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}

#movie4pic3{
  position: absolute;
  top:0%;
  left:26%;
  width:45%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4pic4{
  position: absolute;
  bottom:4%;
  left:26%;
  width:45%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}


#movie4ex3{
  position: absolute;
  width:15%;
  right:13%;
  bottom:4%;
  font-size: 0.5em;
}

#movie4p3{
  position: absolute;
  width:15%;
  right:12%;
  top:0%;
  font-size: 1.1em;
  }

  /*--------------------------------container37-------------------------------------*/

#container37{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}

#movie4pic5{
  position: absolute;
  top:10%;
  width:80%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}


#movie4ex4{
  position: absolute;
  width:15%;
  left:1%;
  bottom:0%;
  font-size: 0.5em;
}


/*--------------------------------container38-------------------------------------*/

#container38{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}

#movie4pic6{
  position: absolute;
  top:3%;
  width:90%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4pic7{
  position: absolute;
  top:39%;
  width:40%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4ex5{
  position: absolute;
  width:25%;
  right:1%;
  bottom:13%;
  font-size: 0.5em;
}

#movie4p4{
  position: absolute;
  width:55%;
  right:23%;
  bottom:0%;
  text-align: center;
  font-size: 1.1em;
}

/*--------------------------------container39-------------------------------------*/

#container39{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}

#movie4pic8{
  position: absolute;
  top:12%;
  width:50%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4gita2{
  position: absolute;
  bottom:9%;
  width:60%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4ex6{
  position: absolute;
  width:20%;
  left:6%;
  bottom:33%;
  font-size: 0.5em;
}

/*--------------------------------container40-------------------------------------*/

#container40{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}
#movie4pic9{
  position: absolute;
  top:6%;
  left:16%;
  width:70%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}
#movie4p6{
  position: absolute;
  width:55%;
  left:16%;
  bottom:4%;
  text-align:left;
  font-size: 1.1em;
}

/*--------------------------------container41-------------------------------------*/

#container41{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}

#movie4pic10{
  position: absolute;
  top:5%;
  width:55%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4pic11{
  position: absolute;
  bottom:15%;
  width:55%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4ex7{
  position: absolute;
  width:20%;
  left:2%;
  bottom:34.5%;
  font-size: 0.5em;
}

/*--------------------------------container42-------------------------------------*/

#container42{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}


#movie4gita4{
  position: absolute;
  top:0%;
  width:100%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

/*--------------------------------container43-------------------------------------*/

#container43{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}


#movie4gita3{
  position: absolute;
  top:5%;
  width:35%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4pic12{
  position: absolute;
  bottom:2%;
  width:35%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4p7{
  position: absolute;
  width:55%;
  left:16%;
  bottom:10%;
  text-align:left;
  font-size: 1.1em;
}

#movie4ex8{
  position: absolute;
  width:20%;
  right:30%;
  bottom:0%;
  font-size: 0.5em;
}

/*--------------------------------container44-------------------------------------*/

#container44{
  position: relative;
  width:100%;
  height:0vh;
  float: left;
  overflow: hidden;
}

#movie4gita5{
  position: absolute;
  top:35%;
  left:10%;
  width:45%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4pic13{
  position: absolute;
  bottom:42%;
  right:5%;
  width:45%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4p8{
  position: absolute;
  width:45%;
  left:10%;
  bottom:0%;
  text-align:left;
  font-size: 1.1em;
}

#movie4ex9{
  position: absolute;
  width:10%;
  right:4%;
  bottom:40%;
  font-size: 0.5em;
}

  /*--------------------------------container45------------------------------------*/

  #container45{
    position: relative;
    width:100%;
    height:0%;
    float: left;
    overflow: hidden;
  }

/*----------------------------------반응형-------------------------------------*/

 @media only screen and (min-width: 1920px){

  header{
    height: 150px;
  }

  #up{ 
    z-index: 9999;
    width:75%; 
    text-align: center; 
    left:14%; 
    height: 50px; 
    margin: 0 auto; 
    position: fixed; 
    top:5.5%;
  }
 

  #menucircle{
    position: absolute; 
    width:130px; 
    height:50px; 
    background-color: rgb(0,57,255); 
    border-radius: 50%; 
    transition: all 0.3s;
  }

  #menutxt {
    color: white; 
    font-family: 'Libre Baskerville'; 
    font-style:serif; 
    font-weight: 700; 
    font-size: 1.7em; 
    line-height: 1.7em;
  }

#line{ 
  top:65%; 
  left:-2%; 
  width:1400px; 
  height: 1.3px; 
}

.prevbtn{ 
  width:60px;
  height: 60px;  
  font-size:3em; 
  line-height: 1.2em;
}


.blob{
  right:50%;
  top:10%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin:auto;
  animation: blob-left-anim cubic-bezier(0.77, 0, 0.175, 1) 3s infinite;
}
.blob:nth-child(2) {
          animation-name: blob-right-anim;
}
.blob:nth-child(3) {
          animation-name: blob-right-anim;
}
.blob:nth-child(4) {
          animation:blob-left-anim2;
}

#blobtext1{ 
  position:absolute; 
  z-index:9999; 
  font-size:2em; 
  line-height: 1.5em;
  text-align: center; 
  left:-2%;
  top:24%;
  color: white;
}

@keyframes blob-left-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-60px, 0);
  }
}

@keyframes blob-left-anim2 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-60px, 0);
  }
}

@keyframes blob-right-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(60px, 0);
  }
}



#slidertitle{
    top:21%;
    left: 44%;
    max-width:12%;
    line-height: 2em;
    font-size: 2em;
  }



.slidertitle2{
    font-size:1.5em;
  }


#text1{
    font-size:7em;
  }

#text2{
    font-size:7em;
  }

#text3{
    font-size:7em;
    width: 42%;
     top:27%;
  }

  #text4{
    font-size:7em;
  }

#p1{
    font-size: 1.55em;
    bottom:6%;
  }

  #movie4p1{
    font-size: 1.55em;
    bottom:6%;
  }

#movie2p1{
    font-size: 1.55em;
    bottom:6%;
  }

  #movie3p1{
    font-size: 1.55em;
    bottom:7%;
    right: 5%;
  }

  #movie4p1{
    font-size: 1.55em;
    bottom:8%;
  }

#playbtn1{
  top:42%;
  
}

#playbtn2{
  top:42%;
  
}

#playbtn3{
  position: absolute;
  width:25%;
  top:42%;
  left:18%;
}

#playbtn4{
  top:43%;
  
}


#sticker{
  top:77%;
 }

#p2{
  font-size: 1.3em;
  top: 68%;
  width: 31%;
  }

#ex1{
  font-size: 0.9em;
}

#pic2{
  top:13%;
}

#pic1{
  width: 42%;
  top:34%;
}

#pic12{
  top:15%;
}

 #ex2{
    bottom:3%;
    right: -2%;
    font-size: 0.9em;
  }

#pic3{
  position: absolute;
  top:2%;
  width:75%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
}

#pic3shadow{
  position: absolute;
  top:19%;
}

  #p3{
    font-size: 1.3em;
  }

 #ex3{
    width:22%;
    right:8%;
    bottom:2%;
    font-size: 0.9em;
  }

 #p4{
  width: 40%;
    top:8%;
    font-size: 1.3em;
    background: white;
    padding: 1%;
  }


 #ex4{
    position: absolute;
    width:18%;
    left:4%;
    bottom:1%;
    font-size: 0.9em;
  }

 #ex5{
    position: absolute;
    width:37%;
    right:2%;
    bottom:4%;
    font-size: 0.9em;
  }

#pic6{
  top:10%;
}

  #introbox{
    height: 22%;
    top:41%;
    }


  #introbox p { 
    top:30%; 
    font-size: 1.6em;
  }

#window1{
  left: 22%;
  width:57%;
  top:63%;
  animation:windowani 0.8s infinite ease-out;
}
@keyframes windowani {
    0% {top:63%;}
    100%{top:63.5%;}
  }

   .slidertext2{
    position: absolute;
    top:28%;
    right:-25%;
    font-size: 1.1em;
    width:55%;
    color: black;
  }

  #introment{
    height:18%; 
    font-size: 1.2em; 
  }

  #intromentshadow{
    height:18%; 
    font-size: 1.2em; 
  }

  #pic7{
  position: absolute;
  top:36%;
  left:5%;
  width:33.5%;
}

#pic8{
  position: absolute;
  top:2.5%;
  right:0%;
  width:76%;
}

#pic13{
  width: 32%;
  position:absolute;
  top:67%;
  left:10%;
  z-index: -1;
  animation: redpicani 2s infinite;
}

#pic4{
  position: absolute;
  top:20%;
  width:56%;
  transform: rotate(-90deg);
  transition: all 0.6s cubic-bezier(.15,.63,.15,1.03);
}

  #title1{
    position: absolute;
    width:65%;
    left:15%;
    top:1%;
    animation: titleani 2s infinite linear;
  }

  #footerfilename{
  font-size: 130%;
}

#footerline{
  top:6%;
}

  #movie2p2{
    bottom:10%;
    font-size: 1.2em;
  }
  .movie2p2_1{
    font-size: 1.3em;
  }

#movie2pic2{
  width: 31%;
  top:34%;
 }

  #movie2dashedbox{
  position: absolute;
  top:45%;
  right:5%;
  width:30%;
  height:48%;
  border:dashed thin;
  }

  #movie2pic3{
  position: absolute;
  width:77%;
  top:7%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

  #movie2p3{
    bottom:0%;
    font-size: 1.2em;
  }

  .movie2p3_1{
    font-size: 1.3em;
  }

   #movie2p4{
    position: absolute;
    width:35%;
    left:5%;
    top:69%;
    font-size: 1.2;
  }

  .movie2p4_1{
    font-size: 1.3em;
  }

  #movie2pic6{
  position: absolute;
  width:74%;
  top:2%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

   #movie2p5{
    position: absolute;
    width:37%;
    left:32%;
    top:78%;
    font-size: 1.2em;
    text-align: center;
  }

  .movie2p5_1{
    font-size: 1.3em;
  }

   #movie2ex1{
   position: absolute;
   top:1%;
   right:-80%;
   font-size: 0.9em;
  }

    #movie2p6{
    position: absolute;
    width:35%;
    right:9%;
    top:82%;
    font-size: 1.2em;
    text-align: left;
  }

  .movie2p6_1{
    font-size: 1.3em;
  }

  #movie2p7{
    position: absolute;
    width:35%;
    left:2%;
    bottom:29%;
    font-size: 1.2em;
    text-align: left;
  }

  .movie2p7_1{
    font-size: 1.3em;
  }

  #movie2pic9{
  position: absolute;
  width:56%;
  top:3%;
  left:1%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
}

 #movie2ex2{
   position: absolute;
   bottom:0%;
   right:-19%;
   font-size: 0.9em;
  }

  #movie2pic10{
    bottom:0%;
    width: 41%;
}

#movie2pic7{
  position: absolute;
  width:36%;
  top:11%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
}


  #movie2ex3{
   position: absolute;
   bottom:5%;
   right:-22%;
   font-size: 0.9em;
  }


  #movie2p8{
    position: absolute;
    width:35%;
    left:10%;
    top:1%;
    font-size: 1.2em;
    text-align: left;
  }

  .movie2p8_1{
    font-size: 1.3em;
  }

  #movie2ex4{
   position: absolute;
   bottom:27%;
   right:-80%;
   font-size: 0.9em;
  }

  #movie2p9{
    position: absolute;
    width:35%;
    left:3%;
    bottom:10%;
    font-size: 1.2em;
    text-align: left;
  }

  .movie2p9_1{
    font-size: 1.3em;
  }

  .footernumbers{
  line-height: 2em;
}



  #thumbnail2{
    position: absolute;
    width:64%;
    left:2%;
    top:19%;
  }

  #thumbnail3{
    position: absolute;
    width:31%;
    left:15%;
    top:15%;
  }

      #dropdowncontent{
       top: 44px;
       padding: 7px;
    }
    #footerwindow{
  top:20%;
  height:31vh;
}

#footertext{
  top:33%;
}

  #movie3p2{
    bottom:9%;
    font-size: 1.2em;
  }

  .movie3p2_1{
    font-size: 1.3em;
  }

  #movie3p3{
    width:33%;
    right:5%;
    top:10%;
    font-size: 1.2em;
  }

#movie3pic3shadow{
  width:52%;
  height:42%;
  left:9%;
  top:37%;
 }

 #movie3pic6shadow{
  top:17%;
  }


  #movie3p4{
    font-size: 1.2em;
  }

  #movie3ex1{
  bottom:0%;
  font-size: 0.9em;
}


  #movie3p5{
    font-size: 1.2em;
   bottom: 12%; 
  }

  #movie3ex2{
  font-size: 0.9em;
  bottom:3.5%;
}

#movie3ex3{
  position: absolute;
  width:28%;
  left: 10%;
  bottom:1.5%;
  font-size: 0.9em;
}

#movie3ex5{
  position: absolute;
  width:28%;
  left:1%;
  bottom:30.5%;
  font-size: 0.9em;
}

#movie3ex6{
  position: absolute;
  width:28%;
  left:50%;
  bottom:1.8%;
  font-size: 0.9em;
}

#movie3ex7{
  position: absolute;
  width:28%;
  left:50%;
  bottom:0%;
  font-size: 0.9em;
}

 #movie3pic10{
  position: absolute;
  width:65%;
  left:17%;
  top:12%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }

  #movie3p6{

    bottom:0%;
    font-size: 1.2em;
    padding: 1%;
    text-align:center;
  }

#movie3ex8{
  position: absolute;
  width:28%;
  left:1%;
  bottom:6.4%;
  font-size: 0.9em;
}

#movie3ex9{
  position: absolute;
  width:28%;
  left:1%;
  bottom:4.6%;
  font-size: 0.9em;
}

#movie3ex10{
  position: absolute;
  width:28%;
  left:1%;
  bottom:0.6%;
  font-size: 0.9em;
}

 #movie3pic11{
  position: absolute;
  width:85%;
  left:0%;
  top:5%;
  transition: all 0.5s cubic-bezier(.15,.63,.15,1.03);
 }


   #movie2p7{
    position: absolute;
    width:35%;
    left:2%;
    bottom:38%;
    font-size: 1.2em;
    text-align: left;
  }

  #movie4p2{
    bottom:9%;
    font-size: 1.3em;
  }

  #movie4ex1{
  top:80.5%;
  font-size: 0.9em;
}

#movie4ex2{
  top:68%;
  font-size: 0.9em;
}


#movie4pic2shadow{
  top:14%;
  width:50%;
  height:53%;
}

#movie4p3{
  width:17%;
  right:11%;
  font-size: 1.3em;
  }

#movie4ex3{
  font-size: 0.9em;
}

#movie4ex4{
  bottom:0%;
  font-size: 0.9em;
  width:30%;
}

#movie4pic5{
  top:2%;
  width:79%;
}

#movie4p4{
  width:60%;
  right:21%;
  font-size: 1.3em;
}

#movie4pic6{
  position: absolute;
  top:-2.2%;
  width:90%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4pic7{
  position: absolute;
  top:39%;
  width:40%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}
#movie4ex5{
  bottom:7%;
  font-size: 0.9em;
}

#movie4ex6{
  bottom:26%;
  font-size: 0.9em;
}

#movie4p6{
  bottom:1%;
  font-size: 1.3em;
}

#movie4pic9{
  position: absolute;
  top:4%;
  left:16%;
  width:70%;
  transition: all cubic-bezier(.15,.63,.15,1.03) 1s;
}

#movie4ex7{
  bottom:27%;
  font-size: 0.9em;
}

#movie4ex8{
  font-size: 0.9em;
}

#movie4p8{
  position: absolute;
  width:45%;
  left:10%;
  bottom:0%;
  text-align:left;
  font-size: 1.3em;
}

#movie4gita5{
  top:34%;
}

#movie4ex9{
  position: absolute;
  width:10%;
  right:4%;
  bottom:39%;
  font-size: 0.9em;
}

.footernumbers{
  width: 3%;
  height:17%;
}

}

