/* pink:#ff5c77 blue:rgb(0,57,255) yellow:#ffb729 red:#d50000 */

html, body {scroll-behavior: smooth; cursor: url(cursor.png) 0 0 ,auto; }

*{width: 100%; margin:0 auto;  position: relative;}

a{text-decoration: none;}

header{
  position: fixed;
  width:100%; 
  height: 130px;
  top:0%;
  left:0%;
  margin:auto; 
  background-image: 
  linear-gradient(to bottom, white, white, white, white,white,white,white,white,white, 
  rgba(255,0,0,0));
}

footer{
    position: relative;
    width:100%;
    height: 40vh;
    float:left;
    background: white;
}

#footerwindow{
  position: absolute;
  margin:auto;
  top:22%;
  left: 0.4%;
  width:99%;
  height:30vh;
  background: white;
  border-style: solid;
  border-radius: 12px;
  border-width: thin;
  border-color: black;
  overflow: hidden;
}


#footerfilename{
  position: absolute;
  right: -47.5%;
  top:10px;
  font-size: 100%;
}

#footerline{
  position: absolute;
  width:100%;
  top:2%;
}

#footerx{
  position: absolute;
  width:2%;
  top:9px;
  left:1.5%;
}
#footermini{
  position: absolute;
  width:2.5%;
  top:4px;
  left:5%;
}

#footerbig{
  width:2.4%;
  top:5px;
  left:5.1%;
  visibility: hidden;
  position: absolute;
}

.footernumbers{
  position:absolute;
  width: 3.3%;
  top:20%;
  height:17%;
  background: rgb(0,57,255);
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  color: white;
  text-decoration: none;
   transition: all 0.3s;
}

.footernumbers:hover{
  border-radius: 0%;
}
#footernumber0{
  right: 25%;
}

#footernumber1{
  right: 21%;
}
#footernumber2{
  right: 17%;
}
#footernumber3{
  right: 13%;
}
#footernumber4{
  right: 9%;
}
#footernumber5{
  right: 5%;
}
#footernumber6{
  right: 1%;
}

#footertext{
  position: absolute;
  top:30%;
  left:2%;
  font-size: 1em;
  text-align: left;
  line-height: 1.6em;
}

#footertext1{
  position: absolute;
  top:70%;
  left:2%;
  font-size: 0.9em;
  text-align: left;
  line-height: 1.6em;
}

#footertext2{
  position: absolute;
  bottom:4%;
  left:2%;
  font-size: 1.3em;
  text-align: left;
  line-height: 1.6em;
}

#wrapp{
  width:100%; 
  height: 100vh; 
  position: relative;  
  margin: 0 auto;
}

  .kor400{font-family:'Noto Sans KR'; font-weight:400; font-style:sans-serif;}
  .kor500{font-family:'Noto Sans KR'; font-weight:500; font-style:sans-serif;}
  .kor700{font-family:'Noto Sans KR'; font-weight:700; font-style:sans-serif;}
  .eng400{font-family:'Libre Baskerville';font-weight:400; font-style:serif;}
  .eng700{font-family:'Libre Baskerville';font-weight:700; font-style:serif;}
  .cursorclick{cursor: url(cursorclick.png) 0 0 ,auto;}
  .cursor{cursor: url(cursor.png) 0 0 ,auto;}

  @import "compass/css3";

 .upkey {
   position: fixed;
   z-index: 9999;
   top: 93%;
   left: 95%;
   margin-top: -30px;
   margin-left: -60px;
   display: inline-block;
   font-size: 2em;
   color: white;
   text-align: center;
   width: 100px;
   height: 60px;
   line-height: 1.5em;
   background:rgb(0,57,255);
   overflow: hidden;
   text-transform: upkeypercase;
   transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 0.25s ease-in-out, color 0.25s ease-in-out;
}
 .upkey:hover, .upkey.auto {
   width: 60px;
   margin-left: -30px;
   border-radius: 50%;
   color: rgba(179, 195, 58, 0);
   transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 1s 0.25 ease-in-out, color 0.25s ease-in-out 0.25s;
}
 .upkey:hover:before, .upkey.auto:before {
   animation: lineupkey 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
 .upkey:hover:after, .upkey.auto:after {
   animation: tipupkey 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
 .upkey:before {
   position: absolute;
   display: inline-block;
   content: "";
   background: white;
   width: 5px;
   height: 40px;
   top: 50%;
   left: 50%;
   margin-top: -8px;
   margin-left: -3px;
   transform: translateY(50px);
}
 .upkey:after {
   position: absolute;
   display: inline-block;
   content: "";
   width: 20px;
   height: 20px;
   color: white;
   border-top: 5px solid;
   border-left: 5px solid;
   transform: rotateZ(45deg);
   top: 50%;
   left: 50%;
   margin-top: -6px;
   margin-left: -13px;
   transform: translateY(50px) rotateZ(45deg);
}
 @keyframes tipupkey {
   0% {
     transform: translateY(50px) rotateZ(45deg);
  }
   100% {
     transform: translateY(-70px) rotateZ(45deg);
  }
}
 @keyframes lineupkey {
   0% {
     transform: translateY(50px);
  }
   100% {
     transform: translateY(-70px);
  }
}

/*--------------------------------container1---------------------------------*/
  #container1{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

  #gyrobox{
    position: absolute;
    top:25%;
    left: 10%;
    width: 25%;
    height: 65%;
    background: white;
    border:dashed thin black;
  }

  #gyro{
    top: 5%;
    left: 38%;
    position: absolute;
    width: 20%;
  }

  #bigcircle{
    position: absolute;
    top:15%;
    left: 17%;
    width: 35%;
    height: 56%;
    border:solid black 0.5px;
    border-radius: 100%;
  }

  #titlebox{
    position: absolute;
    width:58%;
    height: 8%;
    background: #ffb729;
    right: 0%;
    top:35%;
  }

  #title1{
    position: absolute;
    width:104%;
    right:1%;
    top:-38%;
  }

  #p1boxshadow{
    position: absolute;
    width:44%;
    height:20%;
    right:2%;
    padding: 1%;
    bottom:12%;
    border: solid thin black;
    background: white;
   animation: gradientani 2s infinite linear;
}

@keyframes gradientani {
    0% {background-image: linear-gradient(to bottom right, white, white, #ff5c77);}
    50%{background-image: linear-gradient(to bottom right, white,white, #ff5c77, white,white);}
    100%{background-image: linear-gradient(to bottom right, #ff5c77, white,white);}
  }

  #p1box{
    position: absolute;
    width:44%;
    height:20%;
    right:0%;
    padding: 1%;
    bottom:15%;
    border: solid thin black;
    background: white;
  }

  #p1{
    top:10%;
    width: 95%;
    position: absolute;
    font-size: 1.5em;
    line-height: 1.4em;
  }

/*--------------------------------container2---------------------------------*/
  #container2{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

  #questioncloud{
    position: absolute;
    width:880px;
    top:5%;
  }

  #window1{
  position: absolute;
  margin:auto;
  top:10%;
  left:20%;
  width:63%;
  height:89%;
  background: white;
  border-style: solid;
  border-radius: 12px;
  border-width: thin;
  border-color: black;
  overflow: hidden;
}

#filename1{
  position: absolute;
  right: -40%;
  top:13px;
  font-size: 100%;
}

#line1{
  position: absolute;
  width:100%;
  top:2%;
}

#x1{
  position: absolute;
  width:3%;
  top:13px;
  left:2%;
}
#mini1{
  position: absolute;
  width:3.5%;
  top:11px;
  left:8%;
}

#big1{
  width:3.5%;
  top:11px;
  left:8%;
  visibility: hidden;
  position: absolute;
}

.buttons{
  position: absolute;
  right:15%;
  width: 13%;
  height: 5%;
  border-radius: 100%;
  border:thin black solid;
  background: white;
  text-align: center;
  font-size: 1em;
  line-height: 2.5em;
  text-decoration: none;
  color: black;
}
.buttons:hover{
  background:#ff5c77;
}

#button1{
  top:12.5%;
}

#button2{
  top:20%;
}
#button3{
  top:27.5%;
}
#button4{
  top:35.5%;
}
#button5{
  top:44%;
}
#button6{
  top:51.5%;
}
#button7{
  top:61.5%;
}
#button8{
  top:76.5%;
}
#button9{
  top:90.5%;
}


/*--------------------------------container3---------------------------------*/
  #container3{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

  .contenttitlebox{
    position: absolute;
    width: 30%;
    height:8%;
    top:20%;
    left:3%;
  }

  .contenttitlebox p {
    font-size:2em;
    position: absolute;
    left:15%;
  }

  .numbers{
    position: absolute;
    left: 0%;
    top:4%;
    width: 10%;
    height:60%;
    background: rgb(0,57,255);
    border-radius: 100%;
    color: white;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.8em;
  }

  .dividelines{
    position: absolute;
    top:0%;
  }

  .imgsliderbox{
    position: absolute;
    width: 50%;
    height:52%;
    top:28%;
    left:3%;
    background: green;
  }

  .slidecontentimg2{ 
    position: absolute;
    width: 200%;
    left:-50%;
  }

  .leftbtns{width:10%; position: absolute; left: 1%; top:40%; }

  .rightbtns{width:10%; position: absolute; right: -3%; top:40%; }

  .reviews{
    position: absolute;
    right:3%;
    top:30%;
    width:40%;
  }
/*--------------------------------container4---------------------------------*/
  #container4{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

/*--------------------------------container5---------------------------------*/
  #container5{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

/*--------------------------------container6---------------------------------*/
  #container6{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }


/*--------------------------------container7---------------------------------*/
  #container7{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

/*--------------------------------container8---------------------------------*/
  #container8{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

/*--------------------------------container9---------------------------------*/
  #container9{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

/*--------------------------------container10---------------------------------*/
  #container10{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

/*--------------------------------container11---------------------------------*/
  #container11{
    position: relative;
    width:100%;
    height:900px;
    float: left;
    background:white;
  }

/*--------------------------------slider---------------------------------*/
  #slider{
    position: relative;
    max-width:100%;
    height:900px;
    float:left;
    overflow-x:hidden;
    background: white;
  }

  #sliderbox{
    position:absolute;
    left:25%;
    top:30%;
    width:50%;
    height: 50vh;
    float:left;
    text-align: center;

  }

  .slidertext{
    position: absolute;
    top:105%;
    left:calc(50% - 150px);
    font-size: 1em;
    width:300px;
    color: black;
  }

  #slidertitle{
    position:absolute;
    left:43.5%;
    top:21%;
    max-width:13%;
    height: 7vh;
    line-height: 2.5em;
    font-size: 1.5em;
    float:left;
    text-align: center;
    overflow: hidden;
    border: black thin solid;
    border-radius: 100%; 
    color: white;
    -webkit-text-stroke:1px black;
  }

  .slidecontent{
    width:50%; 
    height: 100%; 
    position: relative;
  }

  .slidecontentimg{ 
    position: absolute;
  }
  
  .slidenumber{ 
    width: 50px; 
    height: 50px; 
    top:6%; 
    border-radius: 100%; 
    line-height: 2em;  
    background-color: rgb(0,57,255);  
    color: white; 
    font-size: 1.5em;
    transition: all 0.3s;
  }

  .slidenumber:hover {
    border-radius: 0%;
  }

  #leftbtn{width:10%; position: absolute; left: 0%; top:45%;}

  #rightbtn{width:10%; position: absolute; right: 0%; top:45%;}

   #menubox{ 
    position: fixed;
    z-index:9999; 
    width: 200px; 
    height: 50px; 
    top:6%; 
    left: 3%; 
    margin:auto;
    text-align: center; 
    overflow: hidden;
  }

    #dropdowncontent{
       position: absolute;
       background-color: white;
       border-style: solid;
       border-color: black;
       border-width: thin;
       width: 170px;
       height:0px;
       top: 33px;
       right:0%;
       overflow: hidden;
       visibility: hidden;
       padding: 5px;
    }



   #up{ 
     z-index: 9999;
     width:75%; 
     text-align: center; 
     left:11%; 
     height: 50px; 
     margin: 0 auto; 
     position: fixed; 
     top:5.5%;
  }

    #dropdowncontent a {
      color: black;
      padding:11px 0px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-family: 'Libre Baskerville', serif; 
      font-size: 1.3em; 
      line-height: 1.3em;
    }

    #dropdowncontent a:hover {
      background-color: rgb(0,57,255);
      color: white;
      cursor: url(cursorclick.png) 0 0 ,auto;
    }

  #menucircle{
    position: absolute; 
    width: 100px; 
    height: 40px; 
    background-color: rgb(0,57,255); 
    border-radius: 50%; 
    transition: all 0.3s;
  }


  #menutxt{color: white; font-family: 'Libre Baskerville'; font-style:serif; font-weight: 700; font-size: 1.5em; line-height: 1.5em;}

  .blobs {
  filter: url("#goo");
  position:absolute;
  top: 0px;
  left:0;
  bottom: 0;
  right: 0;
}

  .blobs2 {
  filter: url("#goo");
  position:absolute;
  top:0px;
  left:0;
  bottom: 0;
  right: 0;
}


@keyframes blob-left-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-40px, 0);
  }
}

@keyframes blob-right-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(40px, 0);
  }
}


.blob{
  position:absolute;
  background-color: rgb(0,57,255);
  right:46.5%;
  top:10%;
  width: 40px;
  height: 40px;
  line-height: 100px;
  border-radius: 100%;
  margin:auto;
  animation: blob-left-anim cubic-bezier(0.77, 0, 0.175, 1) 3s infinite;
}

.blob:nth-child(2) {
          animation-name: blob-right-anim;
}
.blob:nth-child(3) {
          animation-name: blob-right-anim;
}
.blob:nth-child(4) {
          animation:blob-left-anim2;
}

#blobtext1{ 
  position:absolute; 
  z-index:9999; 
  font-size:1.5em; 
  text-align: center; 
  left:1.8%;
  top:24%;
  color: white;
}


#line{ 
  position:absolute; 
  top:50%; 
  left:calc(50% - 450px); 
  width:950px; 
  height: 1.3px; 
  background:black;
}

.prevbtn{ 
  z-index:9999; 
  position:fixed; 
  right:8%; 
  top:6%; 
  width:40px;
  height: 40px;  
  background-color: rgb(0,57,255); 
  border-radius: 100%; 
  text-align: center; 
  color: white; 
  font-size:2em; 
  line-height: 1.3em;
  transition: all 0.5s; 
}

.prevbtn:hover {cursor: url(cursorclick.png) 0 0 ,auto; border-radius: 0%;}

#prevbtn2{right:3%;}


/*-------------------------------------반응형-------------------------------------------*/

@media only screen and (min-width: 1920px){

header{
    height: 180px;
    }

  #up{ 
    z-index: 9999;
    width:75%; 
    text-align: center; 
    left:14%; 
    height: 50px; 
    margin: 0 auto; 
    position: fixed; 
    top:5.5%;
  }
 

  #menucircle{
    position: absolute; 
    width:130px; 
    height:50px; 
    background-color: rgb(0,57,255); 
    border-radius: 50%; 
    transition: all 0.3s;
  }

  #menutxt {
    color: white; 
    font-family: 'Libre Baskerville'; 
    font-style:serif; 
    font-weight: 700; 
    font-size: 1.7em; 
    line-height: 1.7em;
  }

#line{ 
  top:65%; 
  left:-2%; 
  width:1400px; 
  height: 1.3px; 
}

.prevbtn{ 
  width:60px;
  height: 60px;  
  font-size:3em; 
  line-height: 1.2em;
}


.blob{
  right:50%;
  top:10%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin:auto;
  animation: blob-left-anim cubic-bezier(0.77, 0, 0.175, 1) 3s infinite;
}
.blob:nth-child(2) {
          animation-name: blob-right-anim;
}
.blob:nth-child(3) {
          animation-name: blob-right-anim;
}
.blob:nth-child(4) {
          animation:blob-left-anim2;
}

#blobtext1{ 
  position:absolute; 
  z-index:9999; 
  font-size:2em; 
  line-height: 1.5em;
  text-align: center; 
  left:-2%;
  top:24%;
  color: white;
}

@keyframes blob-left-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-60px, 0);
  }
}

@keyframes blob-left-anim2 {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(-60px, 0);
  }
}

@keyframes blob-right-anim {
  0% {
            transform:  translate(0, 0);
  }
  33% {
            transform:  translate(60px, 0);
  }
}

#slidertitle{
    top:21%;
    left: 44%;
    max-width:12%;
    line-height: 2em;
    font-size: 2em;
  }


#footerfilename{
  font-size: 130%;
}

#footerline{
  top:6%;
}

  #container1{
    height:1080px;
  }


  #container2{
    height:1080px;
  }

  #container3{
    height:1080px;
  }

  #container4{
    height:1080px;
  }

  #container5{
    height:1080px;
  }

  #container6{
    height:1080px;
  }

  #container7{
    height:1080px;
  }

  #container8{
    height:1080px;
  }

  #container9{
    height:1080px;
  }

  #container10{
    height:1080px;
  }

  #container11{
    height:1080px;
  }

  #slider{
    height:1080px;
  }

  #gyro{
    top: 4%;
    width: 18%;
  }

  #bigcircle{
    top:16%;    
    width: 33%;
    height: 58%;
  }

  #questioncloud{
    width:1055px;
  }

  .buttons{
  right:20%;
}

#filename1{
  font-size: 120%;
}


  #p1{
    font-size: 1.6em;
  }

  .contenttitlebox p {
    font-size:2.3em;
  }

  .numbers{
    width: 9.5%;
    font-size: 1.8em;
    line-height: 1.8em;
  }

  .leftbtns{top:50%; }

  .rightbtns{top:50%; }


  .reviews{
    width:42%;
    font-size:1.1em;
  }
      #dropdowncontent{
       top: 44px;
       padding: 7px;
    }
    #footerwindow{
  top:20%;
  height:31vh;
}

  .footernumbers{
  line-height: 2em;
}

#footertext{
  top:33%;
}
.footernumbers{
  width: 3%;
  height:17%;
}
}/*--반응형닫힘--*/


